body {
	background-color: #87CEEB;
	overflow-x: hidden;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: castellar;
    color: #FFFFCC;
}

input {
	background-color: #FFFFCC;
	border: thin solid black;
}

a {
	color: white;
}