.red {background-image: url(resources/red.jpg); height: 100px;}
.green {background-image: url(resources/green.png); height: 100px;}

/*Task 1*/
.feature {background-image: url(resources/cda-interview-guide.jpg); height: 800px;}
.contact {background-image: url(resources/contact-us.png); height: 800px;}